h2{
    text-align: center;
}
.container{
    display: flex;
}
.myapp,  .roomAddress{
    width: 100%;
    text-align: center;
    background-color:rgb(179, 178, 175);
    padding-bottom: 20px;
}
.roomAddress{
    padding-top:50px;
    background-color:whitesmoke;
}
input{
    width: 70%;
    font-size: 20px;
}
button{
    background-color: green;
    width: 200px;
    color:white;
    font-size: 20px;
    transition: ease 0.5s;
    margin-top:20px;
}
button:hover{
    background-color:greenyellow;
    columns: black;
}
.results{
    font-size: 20px;
    background-color:rgb(157, 157, 255);
    cursor: pointer;
    margin:10px;
}

.results:hover{
    background-color:rgb(2,2,56);
    color:white;
}

.map{
    width: 70%;
    height: 50%;
    margin-left : 15%;
    margin-top: 20px;
}
